@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #242333;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.movie-container {
  margin: 20px 0;
  select {
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #fff;
    font-size: 14px;
    -webkit-appearance: none;
  }
}
.showcase {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  color: #777;
  list-style-type: none;
  .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    small {
      margin-left: 2px;
    }
  }
}
.seat {
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444451;
  &:nth-of-type(2) {
    margin-right: 18px;
  }
  &:nth-last-of-type(2) {
    margin-left: 18px;
  }
  &:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
.seat.selected {
  background-color: #6feaf6;
}
.seat.occupied {
  background-color: #fff;
}
.container {
  margin-bottom: 30px;
  perspective: 1000px;
  .screen {
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 70px;
    margin: 15px 0;
    background-color: #fff;
    transform: rotateX(-45deg);
  }
  .row {
    display: flex;
  }
}
.text {
  margin: 5px 0;
  span {
    color: #6feaf6;
  }
}