@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

h1 {
  position: relative;
}

h1 button {
  position: absolute;
  right: 0px;
  -webkit-transform: translate(120%, -50%);
          transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 20px;
  padding: 10px 15px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.btn-small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.cards {
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 1.5em;
  -webkit-transform: translateX(50%) rotateY(-10deg);
          transform: translateX(50%) rotateY(-10deg);
  -webkit-transition: opacity .4s ease, -webkit-transform .4s ease;
  transition: opacity .4s ease, -webkit-transform .4s ease;
  transition: transform .4s ease, opacity .4s ease;
  transition: transform .4s ease, opacity .4s ease, -webkit-transform .4s ease;
}

.card.active {
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  -webkit-transform: translateX(0) rotateY(0deg);
          transform: translateX(0) rotateY(0deg);
}

.card.left {
  -webkit-transform: translateX(-50%) rotateY(10deg);
          transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  position: relative;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.card.show-answer .inner-card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.inner-card-front {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', 'Lato';
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.navigation .nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.navigation p {
  margin: 0 25px;
}

.add-container {
  opacity: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #eee;
  background-color: #f0f0f0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 2;
}

.add-container h3 {
  margin: 10px 0;
}

.add-container label {
  display: block;
  margin: 20px 0 10px;
}

.add-container textarea {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
  font-size: 16px;
}

.add-container h1 {
  position: relative;
}

.add-container h1 button {
  position: absolute;
  right: -20px;
  -webkit-transform: translate(120%, -50%);
          transform: translate(120%, -50%);
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */