@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E0E0E0;
  font-family: 'Itim', cursive;
  font-size: 16px;
}
.header {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  h1 {
    font-size: 3rem;
  }
  &__source {
    position: absolute;
    right: 0;
    font-size: 1rem;
  }
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image{
    border: 3px solid #84838D; 
    border-radius: 5px;
    overflow: hidden;
  }
  &__name {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  &__user {
    font-size: 1.5rem;
    color: #f0932b;
    &--color {
      color: #30336b;
    }
  }
}
.btn {
  margin-top: 20px;
  text-align: center;
  &--left {
    display: none;
    padding-right: 50px;
  }
  &--right {
    padding-left: 50px;
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  i {
    font-size: 2rem;
    cursor: pointer;
  }
}