@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffeaa7;
  font-family: 'Goldman', cursive;
  font-size: 16px;
}
.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 50%;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  &--in {
    height: 90%;
    width: 90%;
    padding: 20px;
  }
}
.date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__day {
    display: flex;
    height: 80px;
    position: relative;
    top: -20px;
    > p {
      font-size: 5rem;
    }
  }
  &__month {
    margin-left: 20px;
    > p {
      font-size: 2rem;
    }
    p:first-child {
      padding-top: 11px;
      height: 40px;
    }
  }
  &__week {
    font-size: 1.5rem;
  }
}
.todo {
  height: 88%;
  padding: 20px;
  position: relative;
  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
  }
  &__centerline {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 0;
    border: 1px solid #00b894;
    transform: translateY(-50%);
  }
  &__clicked {
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #d63031;
    text-align: center;
    &:hover {
      transform: scale(0.9);
    }
  }
}
.input {
  position: absolute;
  bottom: -60px;
  font-size: 6rem;
  i {
    color: #d63031;
    &:hover {
      transform: scale(0.9);
    }
    &:active {
      color: #00b894;
    }
  }
}
.form {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  &__align {
    display: flex;
    position: relative;
    label {
      font-size: 4rem;
    }
    i {
      position: relative;
      right: -76%;
      bottom: -44%;
      font-size: 3rem;
      color: #0984e3;
    }
    i:hover {
      color: #2d3436;
      transform: scale(1.2);
    }
    i:active {
      transform: scale(1);
    }
  }
  &__active {
    display: flex;
    flex-direction: column;
    height: 20%;
    textarea {
      width: 100%;
      height: 80%;
      resize: none;
      padding: 20px;
      font-size: 3rem;
      font-family: 'Noto Sans KR', sans-serif;
    }
    input[type="submit"] {
      font-size: 2rem;
    }
  }
}

