@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}
h1 {
  position: relative;
  button {
    position: absolute;
    right: 0px;
    transform: translate(120%, -50%);
    z-index: 2;
  }
}
.btn {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 20px;
  padding: 10px 15px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.btn-small {
  padding: 5px 10px;
  font-size: 12px;
}
.btn-ghost {
  border: 0;
  background-color: transparent;
}
.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.cards {
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
  perspective: 1000px;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 1.5em;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform .4s ease, opacity .4s ease;
  &.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) rotateY(0deg);
  }
  &.left {
    transform: translateX(-50%) rotateY(10deg);
  }
}
.inner-card {
  position: relative;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform .4s ease;
}
.card.show-answer .inner-card {
  transform: rotateX(180deg);
}
.inner-card-front,
.inner-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  backface-visibility: hidden;
}
.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}
.inner-card-back {
  transform: rotateX(180deg);
}
.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', 'Lato';
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}
.navigation {
  display: flex;
  margin: 20px 0;
  .nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  p {
    margin: 0 25px;
  }
}
.add-container {
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #eee;
  background-color: #f0f0f0;
  transition: .3s ease;
  &.show {
    opacity: 1;
    z-index: 2;
  }
  h3 {
    margin: 10px 0;
  }
  label {
    display: block;
    margin: 20px 0 10px;
  }
  textarea {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px;
    min-width: 500px;
    max-width: 100%;
    font-size: 16px;
  }
  h1 {
    position: relative;
    button {
      position: absolute;
      right: -20px;
      transform: translate(120%, -50%);
      z-index: 2;
    }
  }
}