@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --width-p: 200px;
  --height-p: var(--width-p);
  --width: calc(var(--width-p) * 4);
  --height: calc(var(--height-p) * 4);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #95a5a6;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}
div {
  display: grid;
  width: var(--width);
  height: var(--height);
  grid-template-columns: repeat(4, 1fr);
}
p {
  width: var(--width-p);
  height: var(--height-p);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: transparent;
  user-select: none;
  &:hover {
    color: #fff;
  }
}
.clicked {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 10%;
  background-color: #333;
  font-size: 4rem;
  color: #fff;
}